.products{
    display: grid;
    grid-template-columns: repeat(3,30%);
    grid-gap: 30px;
    border: 1px solid blue;
    width: 350px;
    margin: auto;
    margin-top: 10px;
    background-color:orange;
}
.more{
    margin-top: 30px;
    border: 1px solid blue;
    width: 100px;
    margin-left: 100px;
    background-color:aqua;
    border-radius:15px;
    height :25px;
}
.details{
    border: 1px solid orange;
    width: 400px;
    margin: auto;
    background-color:rgb(216, 200, 200);
    color: blue;
    border-radius:15px;
    
}
.details img{
    border-radius:20px;
    margin-top: 10px;

}
 /* border: "1px solid blue",
 marginLeft: "20px",
 padding: "10px",
 backgroundColor: "orange", */
